<!-- Page Profile -->
<div class="min-h-screen bg-gray-100 flex items-center justify-center p-4">
  <div class="w-full max-w-2xl">

    <!-- Tittle -->
    <div class="text-center mb-6">
      <img src="/logo-viko.png" alt="Logo Viko" class="mx-auto w-16 h-16 object-contain" />
      <h1 class="mt-3 text-2xl font-bold text-blue-800">My Profile</h1>
      <p class="mt-1 text-sm text-blue-700/70">
        Manage your account information and security.
      </p>
    </div>

    <!-- Design with Form Update User and Button Save change -->
    <div class="bg-white rounded-2xl shadow-lg border border-blue-200 p-6">
      <h2 class="text-lg font-semibold text-blue-800">Profile details</h2>
      <p class="text-sm text-blue-700/70 mb-4">Some fields are read-only as they cannot be updated.</p>

      <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="space-y-4" novalidate>

        <!-- Username (read-only) -->
        <div>
          <label for="username" class="block text-sm font-medium text-blue-900">Username</label>
          <input id="username" type="text" formControlName="username" [readOnly]="true" class="mt-1 w-full rounded-xl border border-blue-200 bg-blue-50 px-3 py-2 text-blue-900
                        placeholder:text-blue-900/40 focus:outline-none" />
        </div>

        <!-- Name (update=no) -->
        <div>
          <label for="name" class="block text-sm font-medium text-blue-900">Name</label>
          <input id="name" type="text" formControlName="name" [readOnly]="true" class="mt-1 w-full rounded-xl border border-blue-200 bg-blue-50 px-3 py-2 text-blue-900
                        placeholder:text-blue-900/40 focus:outline-none" />
        </div>

        <!-- Email (update=no) -->
        <div>
          <label for="email" class="block text-sm font-medium text-blue-900">Email</label>
          <input id="email" type="email" formControlName="email" [readOnly]="true" class="mt-1 w-full rounded-xl border border-blue-200 bg-blue-50 px-3 py-2 text-blue-900
                        placeholder:text-blue-900/40 focus:outline-none" />
        </div>

        <!-- Image (update=true) -->
        <div>
          <label for="image" class="block text-sm font-medium text-blue-900">Profile image</label>
          <div class="mt-1 flex items-center gap-4">
            <img [src]="imagePreview() || '/default-user-profile.jpg'" alt="Image"
              class="h-16 w-16 rounded-full border border-blue-200 object-cover bg-blue-50" />
            <input id="image" type="file" accept="image/*" (change)="onImageSelected($event)" class="block w-full text-sm text-blue-900 file:mr-4 file:rounded-lg
                          file:border file:border-blue-200 file:bg-white file:px-3 file:py-2
                          file:text-blue-700 hover:file:bg-blue-50" />
          </div>
          <p class="mt-1 text-xs text-blue-700/70">JPG/PNG até 2MB.</p>
        </div>

        <!-- NumberPhone (update=true) -->
        <div>
          <label for="numberPhone" class="block text-sm font-medium text-blue-900">Phone number</label>

          <div class="mt-1 flex overflow-hidden rounded-xl border border-blue-200 focus-within:ring-2 focus-within:ring-blue-500 focus-within:border-blue-400 transition">
            <!-- Indicative / Dial code -->
            <select formControlName="countryCode"
              class="bg-white px-3 py-2 text-blue-900 focus:outline-none border-r border-blue-200">
              <option *ngFor="let d of dialCodes; trackBy: trackByDial" [value]="d.dial" required>
                {{ d.emoji }} {{ d.dial }}
              </option>
            </select>

            <!-- Número -->
            <input id="numberPhone" type="tel" formControlName="numberPhone" required maxlength="20" pattern="[0-9]*"
              inputmode="numeric" (input)="allowOnlyNumbers($event)"
              class="w-full px-3 py-2 text-blue-900 focus:outline-none placeholder:text-blue-900/40"
              placeholder="912 345 678" />
          </div>

          <p class="mt-1 text-xs text-blue-700/70">
            Selecione o indicativo e introduza apenas o número.
          </p>
        </div>

        <!-- Address (update=true) -->
        <div>
          <label for="address" class="block text-sm font-medium text-blue-900">Address</label>
          <input id="address" type="text" formControlName="address" required maxlength="200" class="mt-1 w-full rounded-xl border border-blue-200 bg-white px-3 py-2 text-blue-900
                        placeholder:text-blue-900/40 focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Street, number, city" />
        </div>

        <!-- Birthday -->
        <div>
          <label for="birthday" class="block text-sm font-medium text-blue-900">Birthday</label>
          <input id="birthday" type="date" formControlName="birthday" required class="mt-1 w-full rounded-xl border border-blue-200 bg-white px-3 py-2 text-blue-900
                        placeholder:text-blue-900/40 focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Street, number, city" />
        </div>

        <!-- Nationality -->
        <div>
          <label for="nationality" class="block text-sm font-medium text-blue-900">Nationality</label>
          <input id="nationality" type="text" formControlName="nationality" required maxlength="20" class="mt-1 w-full rounded-xl border border-blue-200 bg-white px-3 py-2 text-blue-900
                        placeholder:text-blue-900/40 focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Street, number, city" />
          <p class="mt-1 text-xs text-blue-700/70">
            Maximum 20 characters.
          </p>
        </div>

        <!-- Gender -->
        <div>
          <label for="gender" class="block text-sm font-medium text-blue-900">Gender</label>
          <input id="gender" type="text" formControlName="gender" required maxlength="20" class="mt-1 w-full rounded-xl border border-blue-200 bg-white px-3 py-2 text-blue-900
                        placeholder:text-blue-900/40 focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Street, number, city" />
          <p class="mt-1 text-xs text-blue-700/70">
            Maximum 20 characters.
          </p>
        </div>

        <!-- Button Save change -->
        <div class="pt-2">
          <button type="submit" [disabled]="profileDisabled" class="w-full rounded-xl bg-blue-600/90 px-4 py-2.5 font-semibold text-white shadow-lg
                         hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-200
                         active:translate-y-[1px] transition
                         disabled:opacity-50 cursor-pointer">
            Save changes
          </button>
        </div>
      </form>
    </div>

    <!-- Design with Form Update Password, Informative text and Button Logout -->
    <div class="bg-white rounded-2xl shadow-lg border border-blue-200 p-6 mt-6">
      <h2 class="text-lg font-semibold text-blue-800">Change password</h2>
      <p class="text-sm text-blue-700/70 mb-4">Keep your account safe using a strong password.</p>

      <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" class="space-y-4" novalidate>
        <!-- Password -->
        <div>
          <label for="password" class="block text-sm font-medium text-blue-900">Password</label>
          <input id="password" type="password" formControlName="password" class="mt-1 w-full rounded-xl border border-blue-200 bg-white px-3 py-2 text-blue-900
                        placeholder:text-blue-900/40 focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="••••••••" />
          <p class="mt-1 text-xs text-blue-700/70">
            Minimum 8 characters, including lowercase, uppercase and digit.
          </p>
        </div>

        <!-- Confirm Password -->
        <div>
          <label for="confirmPassword" class="block text-sm font-medium text-blue-900">Confirm password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" class="mt-1 w-full rounded-xl border border-blue-200 bg-white px-3 py-2 text-blue-900
                        placeholder:text-blue-900/40 focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="••••••••" />
          <p *ngIf="passwordForm.get('confirmPassword')?.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched"
            class="mt-1 text-xs text-red-600">
            Passwords do not match.
          </p>
        </div>

        <!-- Button Update Password -->
        <div class="pt-2">
          <button type="submit" [disabled]="passwordDisabled" class="w-full rounded-xl bg-blue-600/90 px-4 py-2.5 font-semibold text-white shadow-lg
                         hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-200
                         active:translate-y-[1px] transition
                         disabled:opacity-50 cursor-pointer">
            Update password
          </button>
        </div>
      </form>
    </div>

    <!-- Informative text -->
    <p class="mt-6 text-center text-xs text-blue-700/70">
      Your data is protected. You can update phone, address and image at any time.
    </p>

    <!-- Button Logout -->
    <div class="bg-white rounded-2xl shadow-lg border border-blue-200 p-6 mt-6 text-center">
      <button (click)="logout()" class="w-full rounded-xl bg-red-600/90 px-4 py-2.5 font-semibold text-white shadow-lg
                 hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-red-200
                 active:translate-y-[1px] transition
                 disabled:opacity-50 cursor-pointer">
        Logout
      </button>
    </div>
  </div>
</div>